@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Roboto&family=Roboto+Slab:wght@100;400;700&display=swap');

body {
    background-color: #fff;
    color: #1E283A;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #fff;
    width: 100vw;
    position: sticky;
    top: 0;
    padding-top: 1.5rem;
    z-index: 1;
}

/* NAV  */

.navbar-brand {
    text-align: center;
    margin-top: 0;
    display: grid;
}

.navbar-brand  {
    position: absolute;
    top: -100px;
    opacity: 0;
}

.navbar-brand--img  {
    width: 50%;
    margin-bottom: 1rem;
}

@media (min-width: 750px) {
    .navbar-brand--img  {
        max-width: 250px;
    }
}

.navbar {
    font-size: 1rem;
}

.navbar-collapse {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    max-height: 180px;
    overflow: hidden;
    transition-property: all;
    transition-duration: .75s;
    transition-timing-function: ease-in-out;
    z-index: 1;
    position: absolute;
}

.navbar-collapse.collapse {
    max-height: 0;
    padding: 0 1rem;
}

ul.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    list-style-type: none;
    margin: 0.25rem;
    flex: 1 1 100%;
    cursor: pointer;
}

@media all and (min-width: 600px) {
    .navbar-nav {
        justify-content: space-evenly;
        padding-left: 0;
    }

    .navbar-nav li {
        margin: auto 1rem;
        flex: 1 1 0;
    }
}

.navbar-nav li a {
    color: #1E283A;
}

.navbar-nav .current-page {
    text-decoration: none;
    color: #323C4C;
    font-weight: bold;
    cursor: default;
}

.navbar-header button {
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1rem;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0.5rem;
    cursor: pointer;
}

.nav-divider {
    z-index: 2;
    transition: width 1.5s ease 0s;
    width: 100%;
    height: 2px;
    background: repeating-linear-gradient(to right, rgba(53, 65, 71, 0.3) 0px, rgba(53, 65, 71, 0.3) 6px, transparent 6px, transparent 9px);
}

p {
    max-width: 640px;
    margin: 1rem auto;
}

/* MAIN */

.wrapper {
    padding: 1rem;
}

.banner,
.home #hero {
    padding: 1rem;
    background-color: #f2f2f2;
    margin-bottom: 1rem;
}

.banner.about,
.banner.book {
    background-color: #EAC455;
}

.banner.shoulder,
.banner.back {
    background-color: #7893C4;
    color: #1E283A;
}

h1,
h2,
h3 {
    font-family: 'Roboto Slab', serif;
    color: #323C4C;
}

.hero__title {
    text-align: center;
    font-size: 2.5rem;
}

@media (min-width: 500px) {
    .hero__title {
        font-size: 3.5rem;
    }
}


a.btn-style {
    background-color: #EAC455;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.25rem;
    margin: auto;
    display: block;
    width: 15rem;
    text-align: center;
    color: #1E283A;
    text-decoration: none;
}

.page-links {
    margin: auto;
    text-align: center;
}

.page-links a {
    color: #323C4C;
    display: inline-block;
    margin: 2.5rem 1rem;
    font-size: 1.125rem;
}

/* INTRO */



/* INSTAGRAM */
#instagram-feed {
    min-height: 30vh;
    margin-top: 10vh;
    padding: 1rem;
}

.eapps-instagram-feed-title {
    font-family: 'Roboto Slab', serif;
}

/* WHY MICHAEL */
#why-michael {
    display: block;
    margin: auto;
    max-width: 80vw;
    margin-top: 0;
}

@media (min-width: 750px) {
    #why-michael {
        margin-top: 10vh;
    }
}

#why-michael h3 {
    width: 50%;
    text-align: center;
    margin: auto auto 1rem;
}

@media (min-width: 750px) {
    .why-choose-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
}

#why-michael .img-container {
    flex: 1;
}

img {
    max-width: 250px;
    display: block;
    margin: auto;
}

#why-michael ul {
    list-style: none;
    padding-left: 0;
    padding-right: 1.5rem;
    max-width: 640px;
    flex: 2;
}

#why-michael li {
    margin: 1rem auto;
}

footer {
    background-color: #f2f2f2;
    max-width: 100vw;
    padding: 1rem;
    bottom: 0;
    margin-top: 1rem;
    font-size: 0.925rem;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

footer li {
    list-style-type: none;
    margin: 0.25rem 0;
}

footer ul li a {
    color: #323C4C;
}

footer .social-media-link {
    display: inline-block;
    max-height: 2rem;
    max-width: 2rem;
    overflow: hidden;
    margin: 0.125rem;
    opacity: 0.8;
}

footer .social-media-link:hover {
    opacity: 1;
}

footer .social-media-link img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media all and (min-width: 480px) {
    footer ul {
        flex-direction: row;
        text-align: left;
        justify-content: space-evenly;
    }
}

.subtitle {
    margin: 3rem auto 1.5rem;
    text-align: center;
    font-size: 2rem;
}

/* FAQs */

.main {
    background-color: #fff;
    padding: 1rem;
    margin-top: 0;
}

@media (min-width: 750px) {
    .main {
        margin-top: 3rem;
    }
}

.text-wrapper {
    width: 100%;
    max-width: 640px;
    margin: auto;
}

.FAQ h2 {
    font-size: 2.5rem;
}

.FAQ summary {
    margin: 1rem auto;
    font-size: 1.2rem;
}

.FAQ details {
    margin: 1rem auto;
    font-size: 1rem;
}

.embed-video {
    margin: 2rem auto auto;
    display: block;
    max-width: 640px;
    width: 100%;
}

 .embed-video--caption {
     margin: 0.5rem auto 2rem;
 }

.table-container {
    overflow-x: scroll;
    width: 100%;
}

.mri_table {
    border-spacing: 5px;
    border-collapse: collapse;
    max-width: 100%;
}

.caption {
    font-size: 0.925rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.mri_table thead {
    font-weight: bold;
    font-size: 0.85rem;
}

.mri_table th {
    border-bottom: solid 3px #ddd;
    background-color: #fff;
}

.mri_table td {
    text-align: right;
}

.mri_table th,
.mri_table td {
    width: calc(100% / 3);
    min-width: 2.5rem;
    padding: 0.25rem 0.5rem;
}

@media (min-width: 750px) {
    .mri_table th,
    .mri_table td {
        width: calc(100% / 7);
    }
}

tr:nth-child(even) {
    background: rgb(240, 240, 240);
}

tr:nth-child(odd) {
    background: #FFF
}

.column__age {
    left: 0;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: -webkit-sticky;
    position: sticky;
    box-shadow: 3px 0 0 0 #ddd;
}

tr:nth-child(even) td.column__age {
    background: rgb(240, 240, 240);
}

tr:nth-child(odd) td.column__age {
    background: #fff;
}


/* Booking styling */

.what-to-expect {
    margin: 2rem auto;
}

.what-to-expect details summary {
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: bold;
}

details summary {
    cursor: pointer;
}

#cliniko-71214755 {
    max-width: 800px;
    margin: auto;
    display: block;
}

/* privacy policy */

.privacy-policy {
    font-size: 0.875rem;
}

.privacy-list-heading {
    font-weight: bold;
    display: block;
}

.privacy-policy ul,
.privacy-policy ol {
    max-width: 640px;
    display: block;
    margin: auto;
}

.privacy-policy li {
    margin: 1rem auto;
}

@media (max-width: 750px) {
    .wrapper.contact,
    .wrapper.contact .main {
        padding: 0;
    }
}